@import "tailwindcss";

:root {
	--background: #EDE9E3;
	--foreground: #282828;
	--middle: rgba(10,10,10,0.1);
	--header-h: 5.5rem;
	--title-bar-h: 0px;
	--yellow: #e8c178;
}

@theme inline {
	--color-back: var(--background);
	--color-front: var(--foreground);
	--color-mid: var(--middle);
	--color-red: #d86064;
	--color-orange: #eea97a;
	--color-yellow: var(--yellow);
	--color-green: #69c598;
	--color-blue: #7d9ee0;
	--color-purple: #6e53c2;
	--font-sans: var(--font-julia-mono);
	--font-mono: var(--font-julia-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #181818;
		--foreground: #ededed;
		--middle: rgba(255,255,255,0.1);
		--yellow: #fdda98;
	}
}

[data-theme="dark"] {
	--background: #181818;
	--foreground: #ededed;
	--middle: rgba(255,255,255,0.1);
	--yellow: #fdda98;
}

[data-theme="light"] {
	--background: #EDE9E3;
	--foreground: #282828;
	--middle: rgba(10,10,10,0.1);
	--yellow: #e8c178;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-julia-mono), Arial, Helvetica, sans-serif;
}

@keyframes map-scroll {
	from { margin-left: -8px; }
	to   { margin-left: -58px; }
}
