@import "tailwindcss";

:root {
	--background: #EDE9E3;
	--foreground: #282828;
}

@theme inline {
	--color-back: var(--background);
	--color-front: var(--foreground);
	--color-red: #d86064;
	--color-orange: #eea97a;
	--color-green: #69c598;
	--color-blue: #7d9ee0;
	--color-purple: #6e53c2;
	--font-sans: var(--font-julia-mono);
	--font-mono: var(--font-julia-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #181818;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-julia-mono), Arial, Helvetica, sans-serif;
}
