
.title {
    user-select: none;
    transition: transform 80ms linear;
}
.title span {
    display: inline-block;
    transition: transform 100ms linear;
}
.title span:nth-child(odd) {
    transform: translateY(-0.08em);
}
.title span:nth-child(even) {
    transform: translateY(0.08em);
}
.title:hover span:nth-child(odd) {
    transform: translateY(0.08em);
}
.title:hover span:nth-child(even) {
    transform: translateY(-0.08em);
}
.title:active {
    transform: scale(0.96);
    opacity: 90%;
}

.hoverMap path {
    opacity: 0%;
    cursor: pointer;
}
.hoverMap path:hover {
    opacity: 100%;
}

.citationContainer p {
    margin-bottom: 0.5em;
    text-indent: 2em hanging;
}

.shelfText h1 {
    font-size: 1.5rem;
    line-height: 1.2em;
    padding-bottom: 0.5em;
}
.shelfText p {
    padding-bottom: 0.5em;
}

.mediaContent p {
    padding-bottom: 0.5em;
}